//Primary
$orange: hsl(25, 97%, 53%);

//Nuetral
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$lightBlue: hsl(214, 16%, 25%);
$veryBlue: #252d37;
$veryDarkBlue: #121417;
