.container_confirmed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 350px;
    width: 350px;
    border-radius: 20px;
    padding: 30px;
    color: $white ;
    background: rgb(37,45,55);
    background: linear-gradient(180deg, rgba(37,45,55,1) 56%, rgba(18,20,23,1) 100%);
}

.thank-you-img{
    width: 162px;
    height: 108px;
}

.rating {
    background-color: $lightBlue;
    color: $orange;
    height: 25px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.thank-you{
    margin-bottom: 0;
}

.closing{
    text-align: center;
    color: $lightGrey;
    font-size: 14px;
}